* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 20px;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.nav {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}